# Uses (Lint Action): https://github.com/marketplace/actions/lint-action#supported-tools
# Creates annotations from linting problems
# Autofixes problems if possible (it's a black formatter)
name: Python (Lint Action)

on: [pull_request, push]

jobs:
  format-lint-python:
    name: Format Python with black and lint with flake8
    runs-on: ubuntu-latest

    steps:
      - name: Check out Git repository
        uses: actions/checkout@v2

      - name: Set up Python
        uses: actions/setup-python@v2
        with:
          python-version: '3.x'
      
      - name: Install Python dependencies
        run: pip install black flake8

      - name: Run black and flake8
        uses: wearerequired/lint-action@v1
        with:
          black: true
          flake8: true
          black_args: "--line-length 79 --exclude='1_beginner/chapter1/examples/error.py'"  # same max line length as flake8
          flake8_args: "--max-line-length=88 --ignore=E203,W503 --exclude=1_beginner/chapter1/examples/error.py"  # prevent conflicts with black
          auto_fix: true  # auto commit style fixes
  
